<ion-content>
  <div class="main_content_div">
    <div class="logo_box">
      <div class="inner_box">
        <img src="assets/imgs/simple-logo.png" style="border-radius: 100%;">
      </div>
    </div>

    <ion-label class="bold_lbl">DTPen-info</ion-label><br>
    <ion-label class="small_lbl">Know more about your Pension status</ion-label>

    <mat-card>
      <form [formGroup]="signin">
        <mat-form-field appearance="outline">
          <mat-label>email </mat-label>
          <input type="text" matInput placeholder="exapmle@gmail.com" (blur)="updateEmail($event)" required formControlName="email">
          <mat-icon matSuffix >verified_user</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password </mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required placeholder="Password" (blur)="updatePassword($event)">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

      <ion-button (click)="validateInput()" expand="block"> login</ion-button>
      </form>
    </mat-card><br>

    <ion-label>
      Don't have an account?
    </ion-label>
    <ion-button (click)="goToSignup()" expand="block"  class="fb_btn" mode="ios">
      Signup
    </ion-button>

  </div>
</ion-content>