<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <mat-card *ngFor="let item of responseData"
    (click)="routeToDetails(item.computerNo, item.ticketCategoryId,  item.ticketId)">

    <mat-card-header>
      <mat-card-title> {{item?.subject}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="content-div">
      <div class="content-div1">
        <div class="avatar">
          <img [src]="posterImage" alt="">
        </div>

        <div class="name">{{item?.ticketCategoryName}}</div>
      </div>

      <div class="content-div2">
        <i>{{item?.entryDate | date:'d-MMM-YYYY'}}</i>
      </div>
    </mat-card-content>

  </mat-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="swtichActivePage('new-message')">
    <ion-fab-button>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- for infinit loading -->
  <!-- <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>