<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-label>
          {{surname + ' ' + otherNames}} &nbsp;<ion-icon></ion-icon>
      </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
      <div class="rotate-center bounce-in-top">
        <ion-img [src]=avatarImage2 alt="avatar" ></ion-img>
      </div>

      <div class="content_div">
          <ion-label class="bold_lbl">Profile</ion-label>
          <ion-input type="text" placeholder="Surname" value="{{surname}}" readonly=""></ion-input>
          <ion-input type="text" placeholder="Other name" value="{{otherNames}}" readonly=""></ion-input>
          <ion-input type="text" placeholder="Computer number" value="Computer Number: {{computerNo}}" readonly=""></ion-input>
          <ion-input type="text" placeholder="accruedRight" value="Accrued Right: &#8358; {{result?.accruedRight | number}}" readonly=""></ion-input>
          <ion-input type="text" placeholder="Indebtedness" value="Indebtedness: &#8358; {{result?.indebtedness | number}}" readonly=""></ion-input>
          <ion-input type="text" placeholder="Application status" value="Apllication Status: {{result?.applicationStatus}}" readonly=""></ion-input>
          <ion-input type="text" placeholder="paymentSchedule" value="Payment Schedule:  {{result?.paymentSchedule}}" readonly=""></ion-input>
          <ion-input type="text" placeholder="PFA" value="PFA: {{pfaCode}}" readonly=""></ion-input>
          <ion-input type="text" placeholder="PIN" value="PIN: {{pinNo}}" readonly=""></ion-input>

          <ion-button (click)="presentAlertLogout()" expand="block"  class="fb_btn" style="background-color: #2b7aef;" mode="ios">
             Logout
          </ion-button>
      
          <ion-button expand="block" mode="ios" (click)="presentAlertDeactivate(computerNo)">
              Deactivate Account
          </ion-button>
      </div>

  </div>
</ion-content>
