<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Annoucements </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-button color="success" fill="outline">DTPen-info news</ion-button>

  <mat-card *ngFor="let item of annoucements" (click)="swtichActivePage('annoucements-details', item?.postId)">

    <mat-card-header>
      <mat-card-title> {{item?.title}}</mat-card-title>
      <mat-card-subtitle>{{item?.memberName}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="content-div">
      <div class="content-div1">
        <div class="avatar">
          <img [src]="posterImage" alt="">
        </div>

        <div class="name">{{item?.ticketCategoryName}}</div>
      </div>

      <div class="content-div2">
        <span>By Admin</span> &nbsp;•&nbsp; <span>{{item?.entryDate | date:'d-MMM-YYYY'}}</span>
        <!-- <i>{{item?.entryDate | date:'d-MMM-YYYY'}}</i> -->
      </div>
    </mat-card-content>

  </mat-card>

</ion-content>