<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Message Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <mat-card>
      <mat-card-content>
        <ion-item>
          <ion-textarea placeholder="Subject" [autoGrow]="true" value="" (ionBlur)="updateSubject($event)">
          </ion-textarea>
        </ion-item>
        <div style="padding: 8px 12px;"></div>

        <ion-item>
          <ion-textarea placeholder="Message" [autoGrow]="true" value="" (ionBlur)="updateDescripton($event)">
          </ion-textarea>
        </ion-item>
        <div style="padding: 8px 12px;"></div>

        <ion-list>
          <ion-item>
            <ion-select placeholder="Select category" (ionBlur)="updateTicketId($event)">
              <ion-select-option *ngFor="let result of ticketCategoryApi" value="{{result.ticketCategoryId}}">
                {{result.category}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </mat-card-content>
      <div style="padding: 8px 12px;"></div>
      <ion-button expand="block" color="tertiary" (click)="validateInput()">Send</ion-button>
    </mat-card>
  </div>


</ion-content>